@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background: hsl(263, 100%, 25%);
    --formulario-background: hsl(0, 0%, 100%);
    --before-titulo: hsla(234, 48%, 57%, 0.932);
    --titulos: hsl(221, 83%, 32%);
    --btn-background: hsl(244, 71%, 58%);
    --btn-text: hsl(0, 0%, 100%);
    
    font-size: 62.5%;
}

form h2 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 400;
    margin-block: 1rem;
    color: var(--titulos);
}

body {
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    height: auto;
}

body {
    background-color: var(--background);
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    background-image: url(../Imagens/imagem-computador-com-codigo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
    opacity: 50%;
}

body .container {
    width: 35rem;
    margin-inline: auto;
}

.container header {
    padding: 2rem;
    color: white;
}

header h1 {
    margin-bottom: 1rem;
    font-size: 2.7rem;
    text-align: center;
}

header p {
    text-align: center;
}

form#survey-form {
    width: 100%;
    margin-block: 1rem;
    padding: 2rem;
    background-color: var(--formulario-background);
    border-radius: 1rem;
}

form#survey-form fieldset {
    border: none;
}

form#survey-form fieldset legend {
    position: absolute;
    visibility: hidden;
}

form#survey-form fieldset h2::before {
    content: '';    
    width: .3rem;
    height: 3rem;
    margin-right: 1rem;
    
    position: relative;
    top: 5px;

    display: inline-block;
    background-color: var(--before-titulo);
}

form#survey-form #dadosPesoais div {
    display: flex;
    flex-direction: column;
}

form#survey-form #dadosPesoais input {
    width: 100%;
    margin-block: 1rem;
    padding: 0.5rem;
}

form#survey-form #dadosCurso select {
    width: 70%;
    margin-block: 1rem;
    padding: 0.3rem;

    border: .1rem solid rgb(0, 0, 0);
}

form#survey-form #dadosCurso h3 {
    margin-block: 1rem;
    font-weight: 400;
}

form#survey-form #dadosCurso label {
    margin-right: 1rem;
}

form#survey-form #dadosCurso #checkbox div:nth-child(1) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#textarea {
    margin-block: 1rem;
    
    display: flex;
    flex-direction: column;
}

#textarea textarea {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
}

#submit {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 1rem 1rem;

    background-color: var(--btn-background);
    color: var(--btn-text);
    border: none;
    
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
}

@media screen and (max-width: 400px) {
    body .container {
        width: 30rem;
    }
}

@media screen and (min-width: 500px) {
    body .container {
        width: 40rem;
    }

    #radioHoras {
        display: flex;
    }

}

@media screen and (min-width: 670px) {
    body .container {
        width: 50rem;
    }

    header h1 {
        font-size: 4rem;
    }

    header p {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1024px){
    body .container {
        max-width: 70rem;
        width: 100%;
    }
}