* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* INICIANDO CONFIGURAÇÕES DE ROOT */ 

:root {
    --primary-color: rgb(255, 255, 255);
    --secodary-color: rgb(0, 0, 0);
    --three-color: rgb(211, 211, 211);
    --nao-listado: #ff0000;


    font-size: 62.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

.titulos-sessoes {
    margin-block: 3rem;
    padding-bottom: 1rem;
    font-size: 3.5rem;
    text-align: center;

    border-bottom: 2px solid var(--secodary-color);
}

/* INICIANDO CONFIGURAÇÕES DE HEADER */

header#header {
    width: 100%;
    height: 100vh;

    background-color: var(--primary-color);
}

/* INICIANDO CONFIGURAÇÕES DE NAV - HEADER */ 

header#header nav#nav-bar {
    width: 100%;
    padding: 2rem;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1.9rem;
}

nav#nav-bar ul li {
    margin-left: 5rem;
    letter-spacing: .1rem;
    
    display: inline;
}

nav#nav-bar ul li .nav-link {
    color: var(--secodary-color);
    text-decoration: none;
}

nav#nav-bar ul li .nav-link:hover {
    text-decoration: underline;
}

/* INICIANDO CONFIGURAÇÕES DE SESSÃO - HEADER */

#home {
    display: flex;
}

#home #texto-header {
    width: 45%;
    margin-top: 10rem;
    margin-inline: auto;
}

#home #texto-header h1 {
    margin-bottom: 3rem;
    font-size: 4rem;
    text-align: center;
}

#texto-header p {
    margin-bottom: 3rem;
    line-height: 2rem;
    font-size: 1.8rem;
    color: var(--secodary-color);
}

#form {
    display: flex;
    background-color: var(--three-color);
    border: 1px solid var(--secodary-color);
}

#form #submit {
    padding: 1rem 2rem;
    
    background-color: var(--secodary-color);
    border: none;
    color: var(--primary-color);
}

#form #email {
    width: 87%;
    padding: 1rem;
    
    background-color: transparent;
    border: none;
    outline: none;
}

/* CONFIGURAÇÕES DE IMAGEM HEADER */
section#home figure {
    max-width: 40%;
    height: 90vh;
}

section#home figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONFIGURANDO MAIN */

.container {
    width: 80%;
    margin-inline: auto;
}

/* CONFIGURANDO SESSÃO SOBRE */

#sobre {
    width: 100%;
    height: auto;
}

#card {
    width: 100%;
    padding: 2rem;
    
    background-color: var(--three-color);
    display: flex;
}

#card #sobre-texto {
    width: 80%;
}

#card #sobre-texto div h3 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
}

#card #sobre-texto div p {
    margin-bottom: 2rem;
    text-align: left;
}

#card #sobre-texto ul {
    list-style-position: inside;
}

#card #sobre-texto ul li{
    padding-bottom: 2rem;
}

#card #sobre-imagem {
    max-width: 100%;
    height: auto;
    margin-left: 2rem;
}

#card #sobre-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONFIGURAÇÕES VIDEO SKATE */

#video-skate {
    width: 100%;
    height: auto;
}

#video-skate div {
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#video-skate div iframe {
    width: 80%;
    height: 90%;
}

/* CONFIGURAÇÕES DOS PRODUTOS */

#produtos {
    width: 100%;
    height: auto;
    margin-block: 5rem;
}

#produtos .produtos-items {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#produtos .produtos-items .produtos-item {
    background-color: var(--primary-color);
    border: 2px solid var(--secodary-color);
}

.produtos-items .produtos-item h2 {
    background-color: var(--secodary-color);
    color: var(--primary-color);
    
    padding: 1rem;
    text-align: center;
}

.produtos-items .produtos-item ul {
    list-style-position: inside;
    margin-bottom: 2rem;
}

.produtos-items .produtos-item li {
    padding: 2rem;
}

.produtos-items .produtos-item button {
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem 5rem;
    
    display: block;
    background-color: var(--secodary-color);
}

.produtos-items .produtos-item button a {
    text-decoration: none;
    color: var(--primary-color);
}

.produtos-items .produtos-item:nth-child(1) li:nth-child(2), 
.produtos-items .produtos-item:nth-child(1) li:nth-child(4), 
.produtos-items .produtos-item:nth-child(1) li:nth-child(5) {
    text-decoration: line-through;
    color: var(--nao-listado);
}

.produtos-items .produtos-item:nth-child(2) li:nth-child(5) {
    text-decoration: line-through;
    color: var(--nao-listado);
}

/* Configurando footer */

footer {
    width: 100%;
    background-color: var(--secodary-color);
}

footer p {
    padding: 2rem;
    color: var(--primary-color);
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: var(--primary-color);
}

footer p a:hover {
    text-decoration: underline;
}

/* CONFIGURAÇÕES DE RESPONSIVIDADE */

@media screen and (max-width: 1100px) {
    #produtos .produtos-items {
        flex-wrap: wrap;
    }

    #produtos .produtos-items .produtos-item {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    #card {
        flex-direction: column;
    }

    #card #sobre-texto {
        margin: auto;
    }

    #card #sobre-imagem img {
        display: block;
        max-width: 500px;
        min-width: 200px;
        margin: auto;
    }

    #card #sobre-texto {
        width: 100%;
        font-size: 1.8rem;
    }

    #produtos .produtos-items {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #produtos .produtos-items .produtos-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .produtos-items .produtos-item h2 {
        width: 100%;
    }

    .produtos-items .produtos-item ul {
        font-size: 2rem;
    }
}

@media screen and (max-width: 720px) {
    #video-skate div iframe {
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 650px) {

    header#header {
        height: auto;
    }

    header#header nav#nav-bar {
        width: 100%;
        padding: 2rem;
        background-color: var(--three-color);
        flex-direction: column;
    }

    header#header nav#nav-bar span {
        width: 100%;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: left;
    }

    nav#nav-bar ul li {
        margin-left: 0;
        display: block;
        margin-bottom: 2rem;
    }

    #home #texto-header {
        width: 80%;
    }

    section#home figure img {
        display: none;
    }
}